In [2]:
import numpy as np
import pandas as pd 
import re
import nltk
import spacy
import string

df = pd.read_csv('./review.csv')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0.0,767.0,33.0,NaN,Absolutely wonderful - silky and sexy and comf...,4.0,1.0,0.0,Initmates,Intimate,Intimates
1,1.0,1080.0,34.0,NaN,Love this dress! it's sooo pretty. i happene...,5.0,1.0,4.0,General,Dresses,Dresses
2,2.0,1077.0,60.0,Some major design flaws,I had such high hopes for this dress and reall...,3.0,0.0,0.0,General,Dresses,Dresses
3,3.0,1049.0,50.0,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5.0,1.0,0.0,General Petite,Bottoms,Pants
4,4.0,847.0,47.0,Flattering shirt,This shirt is very flattering to all due to th...,5.0,1.0,6.0,General,Tops,Blouses

In [3]:
df.rename(columns={"Review Text":'text'},inplace=True)

df.head()

,Unnamed: 0,Clothing ID,Age,Title,text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0.0,767.0,33.0,NaN,Absolutely wonderful - silky and sexy and comf...,4.0,1.0,0.0,Initmates,Intimate,Intimates
1,1.0,1080.0,34.0,NaN,Love this dress! it's sooo pretty. i happene...,5.0,1.0,4.0,General,Dresses,Dresses
2,2.0,1077.0,60.0,Some major design flaws,I had such high hopes for this dress and reall...,3.0,0.0,0.0,General,Dresses,Dresses
3,3.0,1049.0,50.0,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5.0,1.0,0.0,General Petite,Bottoms,Pants
4,4.0,847.0,47.0,Flattering shirt,This shirt is very flattering to all due to th...,5.0,1.0,6.0,General,Tops,Blouses

In [7]:
df["text_lower"] = df["text"].str.lower()
df[['text','text_lower']].head()

,text,text_lower
0,Absolutely wonderful - silky and sexy and comf...,absolutely wonderful - silky and sexy and comf...
1,Love this dress! it's sooo pretty. i happene...,love this dress! it's sooo pretty. i happene...
2,I had such high hopes for this dress and reall...,i had such high hopes for this dress and reall...
3,"I love, love, love this jumpsuit. it's fun, fl...","i love, love, love this jumpsuit. it's fun, fl..."
4,This shirt is very flattering to all due to th...,this shirt is very flattering to all due to th...